html, 
body{
  width: 100vw;
  height: 100vh;
  background-color: slategray;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.App h1, h2{
  color: whitesmoke;
}

.App button{
  margin: 15px;
  border-radius: 8px;
  width: 75px;
  height: 50px;
  /* background-color: lightgreen; */
}

.off{
  background-color: darkolivegreen;
  color: salmon;
}
.on{
  color: snow;
  background-color: sandybrown;
}

